html, body {
	background: #3C5E66;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #6C7437;

}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: #BDD1C3;
	line-height: 1.8;
}
h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: #6C7437;
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: #5A8166;
}
a:hover {
	color: #225837;
}
/*表格格式*/
aside.languages {
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:#274301;
	padding: 25px;
	padding-top: 1em;
	float: center;
	width: 800px;
	margin-left: 1em;
}

.languages h3 {
	font-weight: normal;

	font-size: 1.6em;
	margin-bottom:.5em;
}

#tabContainer h4 {
	color: #6C7437;
	font-size: 2em;
}

#tabs{
	height:30px;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}
#tabs ul, #tabs li {
	margin:0;
	padding:0;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	background: #8AA0AC;
}

#tabs > ul > li:hover{
	background: white; 
	cursor:pointer;
}

#tabs > ul > .active{
	background: white; 
	cursor:pointer;
}

#containers div {
	background: white;
	padding:10px 10px 25px;
	margin:0;
	color:#274301;
}
#tabs a {
	text-decoration: none;
	color: black;
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 2px solid gray;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}